.progress-container {
    display: flex;
    justify-content: space-between;
}

.progress-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
}

/* これは多くのブラウザでprogressタグのスタイルをカスタマイズするためのものです */
progress::-webkit-progress-bar {
    background-color: #e0e0e0;
}

progress::-webkit-progress-value {
    background-color: orange;
}

progress::-moz-progress-bar {
    background-color: orange;
}

ul,
ol {
    padding: 0;
    position: relative;
    width: 30%;
}

ul li,
ol li {
    color: rgb(17, 24, 39);
    border-left: solid 8px orange;
    /*左側の線*/
    background: #e0e0e0;
    /*背景色*/
    margin-bottom: 5px;
    /*下のバーとの余白*/
    line-height: 1.5;
    border-radius: 0 15px 15px 0;
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
}

.meal-list {
    list-style-type: none;
    padding: 0;
}

.meal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-name {
    flex: 1;
    /* これにより、name が可能な限りスペースを取得します */
    padding: 5px;
}

.meal-calorie {
    width: 80px;
    /* カロリーの表示領域の幅を固定します。必要に応じて調整してください */
    text-align: right;
    padding: 5px;
}

.container {
    display: flex;
    align-items: center;
}

.character img {
    width: 250px;
    /* 必要に応じてサイズを調整 */
}

.speech-bubble {
    color: rgb(17, 24, 39);
    margin-left: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 700px;
    max-height: 200px;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #000;
    border-left: 0;
    margin-top: -5px;
    margin-left: -5px;
}

h1 {
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 2px #e0e0e0;
    font-size: 30px
}