.progress-container {
    display: flex;
    justify-content: space-between;
}

.progress-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
}

/* これは多くのブラウザでprogressタグのスタイルをカスタマイズするためのものです */
progress::-webkit-progress-bar {
    background-color: #e0e0e0;
}

progress::-webkit-progress-value {
    background-color: orange;
}

progress::-moz-progress-bar {
    background-color: orange;
}

ul,
ol {
    padding: 0;
    position: relative;
    width: 30%;
}

ul li,
ol li {
    color: rgb(17, 24, 39);
    border-left: solid 8px orange;
    /*左側の線*/
    background: #e0e0e0;
    /*背景色*/
    margin-bottom: 5px;
    /*下のバーとの余白*/
    line-height: 1.5;
    border-radius: 0 15px 15px 0;
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
}

.meal-list {
    list-style-type: none;
    padding: 0;
}

.meal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-name {
    flex: 1;
    /* これにより、name が可能な限りスペースを取得します */
    padding: 5px;
}

.meal-calorie {
    width: 80px;
    /* カロリーの表示領域の幅を固定します。必要に応じて調整してください */
    text-align: right;
    padding: 5px;
}
.meal-item.blue-border {
    border-left: 8px solid blue;
}

.container {
    display: flex;
    flex-direction: column;
}

.character-container {
    display: flex;
    align-items: center;
}

.character img {
    width: 250px;
    /* 必要に応じてサイズを調整 */
}

.backgrond {
    position: relative;
}

.background p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: 700;
    background-color: green;
    /* 背景色 */
    color: yellow;
    /* 文字色 */
    border-radius: 30px;
    /* 角丸 */
    padding: 2px;
    transform: translate(-110%, -300%);
}

.background img {
    height: 600px;
    width: 600px;
}

.speech-bubble {
    color: rgb(17, 24, 39);
    margin-left: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 700px;
    max-height: 300px;
}

.speech-bubble-welcom {
    color: rgb(17, 24, 39);
    margin-left: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 400px;
    max-height: 300px;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #000;
    border-left: 0;
    margin-top: -5px;
    margin-left: -5px;
}

h1 {
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 2px #e0e0e0;
    font-size: 50px
}
.button-container {
    display: inline-block; 
    background-color: white ; 
    border-radius: 20px;
    padding: 5px 10px; /
}
.button-container input[type="submit"] {
    background-color: transparent; 
    border: none; 
    color: black; 
}
.button-container:hover{
    background-color: gray;
    cursor: pointer;
}
.push-button {
    margin-bottom: 15px;
    display: inline-block; 
    background-color: white ; 
    border-radius: 20px;
    padding: 5px 10px;
}
.push-button button[type="submit"] {
    background-color: transparent; 
    border: none; 
    color: black; 
}
.push-button:hover{
    background-color: gray;
    cursor: pointer;
}
.send-button {
    margin:5px;
    width: 70px;
    text-align: center;
    display: inline-block;
    background-color: green;
    border-radius: 20px;
    padding: 5px 10px;
}
.send-button button[type="submit"] {
    background-color: transparent;
    border: none;
    color: black;
}

.send-button:hover {
    background-color: gray;
    cursor: pointer;
}
/* 削除ボタン */
.delete-button{
    margin:5px;
    height:40px;
    background-color: red ; 
    border-radius: 5px;
    padding: 5px 10px;
}
.delete-button button[type="submit"] {
    background-color: transparent; 
    border: none; 
}
.delete-button:hover{
    background-color: maroon;
    cursor: pointer;
}
table.create_select {
    padding: 10px;
    width: 85%;
    height: 200px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    border-top:1px solid lightgray ;
}
table.create_select th{
    width:20%;
}
table.create_food {
    padding: 10px;
    width: 85%;
    height: 300px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

table.create_food th {
    width: 20%;
}
table.create_training {
    padding: 10px;
    width: 85%;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

table.create_training th {
    width: 20%;
}